<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/eclipse16.png">
         <run
               class="org.eclipsercp.hyperbola.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Hyperbola Perspective"
            class="org.eclipsercp.hyperbola.Perspective"
            id="org.eclipsercp.hyperbola.perspective">
      </perspective>
   </extension>
   
   <extension
			point="org.eclipse.ui.commands">
  <category
        id="org.eclipsercp.hyperbola.fileCategory"
        name="FileCategory">
  </category>
  <category
        id="org.eclipsercp.hyperbola.nodeCategory"
        name="NodeCategory">
  </category>
  <command
        categoryId="org.eclipsercp.hyperbola.fileCategory"
        id="org.eclipsercp.hyperbola.openFile"
        name="OpenFile">
  </command>
  <command
        categoryId="org.eclipsercp.hyperbola.fileCategory"
        id="org.eclipsercp.hyperbola.saveFile"
        name="SaveFile">
  </command>
  <command
        categoryId="org.eclipsercp.hyperbola.fileCategory"
        defaultHandler="org.eclipsercp.hyperbola.handler.ExitHandler"
        id="org.eclipsercp.hyperbola.exit"
        name="Exit">
  </command>
  <command
        categoryId="org.eclipsercp.hyperbola.nodeCategory"
        id="org.eclipsercp.hyperbola.addNode"
        name="AddNode">
  </command>
  <command
        categoryId="org.eclipsercp.hyperbola.nodeCategory"
        id="org.eclipsercp.hyperbola.editNode"
        name="EditNode">
  </command>
  <command
        categoryId="org.eclipsercp.hyperbola.nodeCategory"
        id="org.eclipsercp.hyperbola.deleteNode"
        name="DeleteNode">
  </command>
  <command
        defaultHandler="org.eclipsercp.hyperbola.handler.ContextMenuHandler"
        id="org.eclipsercp.hyperbola.contextMenu"
        name="ContextMenu">
  </command>
  <command
        defaultHandler="org.eclipsercp.hyperbola.handler.ContextMenuHandler"
        id="org.eclipsercp.hyperbola.contextMenuAddNode"
        name="ContextMenuAddNode">
  </command>
  <command
        defaultHandler="org.eclipsercp.hyperbola.handler.NodeEditorHandler"
        id="org.eclipsercp.hyperbola.openNodeEditor"
        name="OpenNodeEditor">
  </command>
	</extension>
	
	<extension
			point="org.eclipse.ui.menus">
		<menuContribution
				locationURI="menu:org.eclipse.ui.main.menu">
   <menu
         id="fileMenu"
         label="File">
      <command
            commandId="org.eclipsercp.hyperbola.openFile"
            icon="icons/folder.png"
            label="Open"
            style="push"
            tooltip="Open the file">
      </command>
      <command
            commandId="org.eclipsercp.hyperbola.saveFile"
            icon="icons/disk.png"
            label="Save"
            style="push"
            tooltip="Save to the file">
      </command>
      <separator
            name="org.eclipsercp.hyperbola.separator1"
            visible="true">
      </separator>
      <command
            commandId="org.eclipsercp.hyperbola.exit"
            icon="icons/door_out.png"
            label="Exit"
            style="push"
            tooltip="Exit the application">
      </command>
   </menu>
   <menu
         id="nodeMenu"
         label="Node">
      <command
            commandId="org.eclipsercp.hyperbola.addNode"
            icon="icons/add.png"
            label="Add"
            style="push"
            tooltip="Add new node">
      </command>
      <command
            commandId="org.eclipsercp.hyperbola.editNode"
            icon="icons/application_edit.png"
            label="Edit"
            style="push"
            tooltip="Edit current node">
      </command>
      <command
            commandId="org.eclipsercp.hyperbola.deleteNode"
            icon="icons/cross.png"
            label="Delete"
            style="push"
            tooltip="Delete current node">
      </command>
   </menu>
		</menuContribution>
		<menuContribution
				locationURI="toolbar:org.eclipse.ui.main.toolbar">
   <toolbar
         id="org.eclipsercp.hyperbola.toolbar1">
      <command
            commandId="org.eclipsercp.hyperbola.openFile"
            icon="icons/folder.png"
            label="Open"
            style="push"
            tooltip="Open the file">
      </command>
      <command
            commandId="org.eclipsercp.hyperbola.saveFile"
            icon="icons/disk.png"
            label="Save"
            style="push"
            tooltip="Save to the file">
      </command>
      <command
            commandId="org.eclipsercp.hyperbola.exit"
            icon="icons/door_out.png"
            label="Exit"
            style="push"
            tooltip="Exit the application">
      </command>
      <separator
            name="org.eclipsercp.hyperbola.separator2"
            visible="true">
      </separator>
      <command
            commandId="org.eclipsercp.hyperbola.addNode"
            icon="icons/add.png"
            label="Add"
            style="push"
            tooltip="Add new node">
      </command>
      <command
            commandId="org.eclipsercp.hyperbola.editNode"
            icon="icons/application_edit.png"
            label="Edit"
            style="push"
            tooltip="Edit current node">
      </command>
      <command
            commandId="org.eclipsercp.hyperbola.deleteNode"
            icon="icons/cross.png"
            label="Delete"
            style="push"
            tooltip="Delete current node">
      </command>
   </toolbar>
		</menuContribution>
  <menuContribution
        locationURI="popup:org.eclipsercp.hyperbola.myView?after=additions">
     <command
           commandId="org.eclipsercp.hyperbola.contextMenu"
           label="Select node"
           style="push">
     </command>
     <command
           commandId="org.eclipsercp.hyperbola.contextMenuAddNode"
           label="Add node"
           style="push">
           <visibleWhen>
               <with
                     variable="selection">
                  <iterate ifEmpty="false">
                     <adapt
                           type="org.eclipsercp.hyperbola.model.ElementNode">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
     </command>
  </menuContribution>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="org.eclipsercp.hyperbola.view.MyView"
          icon="icons/application_view_list.png"
          id="org.eclipsercp.hyperbola.myView"
          name="My View"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.eclipsercp.hyperbola.editor.NodeEditor"
          default="false"
          id="org.eclipsercp.hyperbola.nodeEditor"
          name="Node Editor">
    </editor>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="*">
       <view
             id="org.eclipsercp.hyperbola.myView"
             minimized="false"
             ratio="0.95"
             relationship="top"
             relative="org.eclipse.ui.editorss"
             visible="true">
       </view>
    </perspectiveExtension>
 </extension>
	

</plugin>
